body {
    background-color: #ee6e73;
    height:500px;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    -khtml-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    font-family: 'Roboto', sans-serif!important;
}
.nav-wrapper{
    background-color: #fff;
}
.brand-logo{
    padding-left: 10px!important;
}
.nav-wrapper a:visited, .nav-wrapper a:hover, .nav-wrapper a:active, .nav-wrapper a{
    color: #000;
    text-decoration: none;
}
